
@{
    ViewBag.Title = "BranchesKPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-lg-6 p-4">

            <input type="text" id="myInput" class="form-control text-center" onkeyup="SearchInTable('myInput','mytable')" placeholder=".. بحث ...">
        </div>

    </div>

    <div id="printer">
        <style>
            td, th {
                text-align: center !important;
                border: 1.5px solid #000 !important;
            }

            th {
                color: #000 !important;
                font-weight: bold !important;
                background-color: #ccc !important
            }

            table {
                border-collapse: collapse !important
            }
        </style>

        <h2 class="text-center p-3">
            @SuppliersDashboard.Resources.llayout.Customers
        </h2>



        <div class="  card-ERB ">
            <div class="  table-responsive  ">

                <div id="tablecollapse ">
                    <table class="table table-bordered table-hover" id="mytable">
                        <thead>
                            <tr>
                                <th>  @SuppliersDashboard.Resources.llayout.companycode </th>
                                <th>   @SuppliersDashboard.Resources.llayout.company </th>
                                <th>   @SuppliersDashboard.Resources.llayout.CustomerClassification </th>
                                <th>  @SuppliersDashboard.Resources.llayout.CustomerCode </th>
                                <th> @SuppliersDashboard.Resources.llayout.CustomerName   </th>
                                <th> @SuppliersDashboard.Resources.llayout.NameSalesMan </th>
                                <th> @SuppliersDashboard.Resources.llayout.CustomerAddress  </th>
                                <th>  @SuppliersDashboard.Resources.llayout.SalesManClassification  </th>
                                <th>  @SuppliersDashboard.Resources.llayout.FirstVisit  </th>
                                <th> @SuppliersDashboard.Resources.llayout.SecondVisit    </th>
                                <th>  @SuppliersDashboard.Resources.llayout.ThirdVisit    </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Branches != null)
                            {

                                foreach (var item in ViewBag.Branches)
                                {
                                    <tr>


                                        <td> @item.comid </td>
                                        <td> @item.CompanyName </td>
                                        <td> @item.TypeName </td>
                                        <td> @item.Record_ID  </td>
                                        <td> @item.BranchName  </td>
                                        <td> @item.UserName  </td>
                                        <td> @item.Address </td>
                                        <td> @item.DistributorGroup </td>

                                        <td> @item.FirstDay_ar </td>
                                        <td> @item.SecondDay_ar </td>
                                        <td> @item.ThirdDay_ar </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around">

        <div class="col-lg-4 text-center p-3">
            <button class="btn btn-primary col-12 btn-lg" onclick="LayoutPrint()"><i class="fa fa-solid fa-print" id="printbtn"></i> @SuppliersDashboard.Resources.llayout.print</button>
        </div>
    </div>
</div>
@*<div class="text-center p-4">
        <button class="btn btn-outline-danger" onclick="LayoutPrint()"><i class="fa fa-solid fa-print" id="printbtn"></i> @SuppliersDashboard.Resources.llayout.print</button>
    </div>*@

