@using SuppliersDashboard.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card pd-20 pd-sm-40 cardPD-ERB Bank-Card" @*style="padding-right:46px;padding-top:40px;*@>
    <div class="row d-flex justify-content-around">

        <div class="col-lg-4 text-center p-3">
            <a href='#' class="btn btn-primary col-12 btn-lg " onclick="NewBank()">
                <i class='fa fa-plus'></i>
                @Banks.NewBank
            </a>       
        </div>

    </div>
    @*<div class="d-flex justify-content-between align-items-center">
        <div class="col-lg-3" style="margin-right: 50px; margin-left: 50px;">

            <a href='#' class="btn btn-outline-primary btn-block" onclick="NewBank()">
                <i class='fa fa-plus'></i>
                @Banks.NewBank
            </a>
        </div>
    </div>*@

    <div class="table-wrapper table-wrapperBank table-responsive p-3">
        <div id="table-scroll table-responsive">
            <table id="dataTable1" class="table-responsive" style="width:100%" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>@Banks.BankName</th>
                        <th>@Banks.BankAddress</th>
                        <th>@Banks.BankAccount</th>
                        <th>@Banks.IBAN</th>
                        <th>@Banks.Swiftcode</th>
                        <th>@Banks.terms</th>
                        <th>@Banks.Editor</th>
                        <th>@pages.action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div id="modal" class="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div id="modalContainer" class="modal-content">

        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            LoadTable();
        });
        function LoadTable() {

            $('#dataTable1 ').DataTable({
                "processing": true, // for show progress bar
                "bDestroy": true,
                "bSearchable": true,
                "responsive": true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                },
                "ajax": {
                    "url": "/Bank/LoadTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "bankName" },
                    { "data": "bankAddress" },
                    { "data": "bankAccountNo" },
                    { "data": "bankAccountIBAN" },
                    { "data": "swiftCode" },
                    { "data": "terms" },
                    { "data": "Editor" },
                    {
                        data: null, render: function (data, type, row) {

                            return "<a href='#'class='btn btn-primary col-12  ' onclick=SelectBank('" + data.RecordID + "');> <i class='icon ion-edit' style='font-size: 20px;'>@pages.edit</i></a>";
                        }
                    },
                    {
                        data: null, render: function (data, type, row) {

                            if (data.status == 1) {
                                return "<input id='Actice" + data.RecordID + "' onclick='DeactiveBank(" + data.RecordID + ")' type='checkbox' data-toggle='toggle' checked>";

                            } else {
                                return "<input id='Actice" + data.RecordID + "' onclick='DeactiveBank(" + data.RecordID + ")' type='checkbox' data-toggle='toggle'>";

                            }
                        }
                    },
                ]
            });
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
        }
        function SelectBank(id) {
            console.log(id)
            $.ajax({
                url: "/Bank/EditBank",
                type: "get",
                data: { id: id },
                success: function (data) {
                    $('#modalContainer').html(data);
                    $('#modal').modal('show');
                },
                error: function (res) {

                }
            })
        }
        function DeactiveBank(id) {
            $.ajax({
                url: "/Bank/DeactiveBank",
                type: "post",
                data: { id: id, state: $('#Actice' + id).is(":checked") },
                success: function (data) {
                    //LoadTable();
                },
                error: function (res) {

                }
            })
        }
        function NewBank() {
            $.ajax({
                url: "/Bank/NewBank",
                type: "get",
                success: function (data) {
                    //console.log(data)
                    $('#modalContainer').html(data);
                    $('#modal').modal('show');
                },
                error: function (res) {

                }
            })
        }
    </script>
}