@using SuppliersDashboard.Resources
@{
    ViewBag.Title = "DistributorGroups";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
    int i = 1;
}

<h2 class="text-center p-3">@pages.distributors</h2>


    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>  # </th>
                <th>  Code </th>
                <th>  Name </th>
                <th>  Manage </th>
            </tr>
        </thead>
        <tbody>
            @foreach (SuppliersDashboard.ViewModels.SimpleClass item in ViewBag.Distributors)
            {
                <tr>
                    <td> @(i++) </td>
                    <td> @item.Id</td>
                    <td> @item.Name</td>
                    <td> <a class="btn btn-primary" href="/Distributor/GroupUsers/@item.Id"> @pages.managegroup</a></td>
                </tr>

            }
            <tr>
            </tr>
        </tbody>
    </table>



