
@model List<SuppliersDashboard.Models.Collection_v>

@{
    int i = 1;
}


<div class="container">
    <h2 class="text-center p-3">  تفاصيل التحصيل</h2>
    <div class="table-div p-2">


        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th> رقم القاتورة</th>
                    <th>  العميل </th>
                    <th> مديونية قديمة </th>
                    <th>  تحصيل </th>
                    <th>   الباقي    </th>
                    <th>   نوع الدفع    </th>
                    <th></th>


                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var a in Model)
                    {
                        <tr>
                            <td>
                                @(i++)
                            </td>
                            <td>
                                @a.Bill
                            </td>
                            <td>
                                @a.BranchName
                            </td>
                            <td>
                                @a.Old_RemainingAmount
                            </td>
                            <td> @a.CollectionAmount </td>
                            <td> @a.RemainingAmount</td>
                            <td> @a.PaymentName </td>
                            <td>

                                @if (a.Bill.Trim() == "")
                                {
                                    <button class="btn btn-lg btn-danger" onclick="sure('هل انت مناكد من حذف التحصيل' , 'حذف' , 'deleteCollection(@a.Record_Id)' )"> حذف </button>

                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>

<style>
    .modal-content {
        width: 200% !important;
        /*left: 50%;*/
    }
</style>
<script>

    function deleteCollection(id) {
        let url = `/Distributor/deleteCollection?Id=${id}`
    $.post(url, (res) => {
        console.log(res)
        displaymsg(res.Message)
        setTimeout(() => {
            location.reload()
        }, 3000)
    })
}
</script>