
@{
    ViewBag.Title = "متاخرات العملاء ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    table.dataTable thead th, table.dataTable tbody tr:last-child td {
        border-bottom: 1px solid #009CFF !important;
    }

    table.dataTable tbody td {
        border-bottom: unset;
    }

    td, th {
        text-align: center;
    }

    .editorinput {
        outline: unset;
        background: unset;
        border: unset;
    }

    .body {
        padding: 30px;
    }

    .editorinput:focus {
        border-bottom: 1px solid #009CFF;
    }

    button {
        margin: 0 10px;
    }
</style>


<div class="body" id="printer">

    <h2 class="text-center">
        @ViewBag.UserIdSales
    </h2>
    <h2 class="h2  text-center "> @SuppliersDashboard.Resources.llayout.arrears   @ViewBag.Sales </h2>

    <div class="row" style="margin-bottom:25px">
        <div class="col-4"></div>
        <div class="form-group col-4" style="text-align:right;">
            @*<label id="select_represent_label" for="select_represent" class="label">المندوب</label>*@
            <input class="form-control" id="select_latters" list="lattersList" placeholder="@SuppliersDashboard.Resources.llayout.Alldelegates " />
            <datalist id="lattersList">
                <option value="0">@SuppliersDashboard.Resources.llayout.Alldelegates </option>
                @if (ViewBag.presentatives != null)
                {
                    foreach (var item in ViewBag.presentatives)
                    {
                        <option value="@item.Id">
                            @item.Value
                        </option>
                    }
                }
            </datalist>
        </div>
        <div class="col-4"></div>
    </div>

    <p class="h4 text-body text-center d-none" id="emptydataparagraph"> @SuppliersDashboard.Resources.llayout.dets </p>
    <div id="tablecollapse" class="collapse">
        <table class="table-responsive table table-bordered table-hover" style="width:100%" id="Table">
            <thead>
                <tr>


                    <th scope="col" style="">#</th>
                    <th scope="col" style="">@SuppliersDashboard.Resources.llayout.Branch   </th>
                    <th scope="col" style="">@SuppliersDashboard.Resources.llayout.company    </th>
                    <th scope="col" style="">@SuppliersDashboard.Resources.llayout.Indebtedness     </th>
                    <th scope="col" style="">@SuppliersDashboard.Resources.llayout.arrears     </th>
                    <th scope="col" style="">@SuppliersDashboard.Resources.llayout.data     </th>


                </tr>
            </thead>
            <tbody id="TableBody">
            </tbody>
        </table>

    </div>




</div>
<div class="text-center p-4">
    <button class="btn btn-outline-danger" onclick="LayoutPrint()"><i class="fa fa-solid fa-print" id="printbtn"></i> @SuppliersDashboard.Resources.llayout.print</button>
    <span style="width:20px"> </span>
    <button class="btn btn-outline-success" onclick="excel()" id="excelbtn">@SuppliersDashboard.Resources.llayout.Execl</button>
</div>
<script>
    let counter = 1;
    LoadPage(@ViewBag.UserId)

    function LoadPage(id) {


            $.ajax({
                type: "post",
                url: `/Distributor/GetLaters?UserId=${id}`,
                data: {},
                success: (res) => {

                    if (res.data.Data.length > 0) {
                        drawTable(res.data.Data)
                    $("#tablecollapse").show()
                    } else {
                        $("#emptydataparagraph").removeClass("d-none")
                    }




                }
            })

        }



        function drawTable(data) {

               $("#Table").dataTable({
                'iDisplayLength': 25,
                "bDestroy": true,
                "bSearchable": true,
                "responsive": true,
                "language": {
                    "searchPlaceholder": 'Search...',
                    "sSearch": '',
                    "lengthMenu": '_MENU_ items/page',
                },
               data:data,
                   "columns": [

                       {
                           "data": null, render: () => {
                               return counter++;
                           }
                       },
                       {
                           "data": null, render: (data, i, e) => {
                               return data.region + " - " + data.BranchName
                           }
                       },
                       { "data": "CompanyName", "name": "CompanyName", "width": "Auto" },
                       { "data": "Debts", "name": "Debts", "width": "Auto" },
                       { "data": "_TranDate", "name": "_TranDate", "width": "Auto" },


                ]
            })

    }


    var id = 0;
    $("#select_latters").change(function () {

        id = $("#select_latters").val();
        var name = $("#lattersList option[value=" + id + "]").text();

        LoadPage(id)
        $('#select_latters').val("")
        $('#select_latters').attr('placeholder', name);


    })

    //donwload excel
    function excel() {
        let ApI = "/Report/GetUserLaters?Id=" + id;
        LayoutExcel(ApI,'متاخرات @ViewBag.Sales')
    }

</script>



