@model List<SuppliersDashboard.Models.ItemsRequests>
@{
    ViewBag.Title = "ItemsRequests";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="col-12">
    <div class="rounded h-100 p-4">
        <div class="row d-flex justify-content-around">

            <div class="col-lg-4 text-center p-3">

            </div>

        </div>
        @*<div>
                <a style="width:100px" class="btn btn-sm btn-outline-primary" href="/Supplier/Add">@SuppliersDashboard.Resources.pages.add</a>
            </div>*@
        <div id="table-scroll-container" style="max-width: 100%;">
            <table class="table table-striped table-bordered table-hover " style="width:100%; text-align:center;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> المنتج</th>
                        <th scope="col"> الحجم</th>
                        <th scope="col"> الباركود</th>
                        <th scope="col"> الفئة</th>
                        <th scope="col"> المورد</th>
                        <th scope="col">تاريخ</th>
                        <th scope="col">قبول </th>
                        <th scope="col">رفض </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr id="sup-@item.Record_ID">

                            <th scope="row">@(Model.IndexOf(item)+1)</th>
                            <td>@item.ItemName</td>
                            <td>@item.size</td>
                            <td>@item.Barcode</td>
                            <td>@item.CategoryName</td>
                            <td>@item.CompanyName</td>
                            <td>@item.CompanyName</td>
                            <td>
                                <button class="btn btn-success" onclick='ConfirmRequest(@item.Record_ID,1)'>قبول</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" onclick='ConfirmRequest(@item.Record_ID,3)'>رفض</button>
                            </td>



                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function ConfirmRequest(id, status) {
        // status=1 accpeted
        // status=2 rjected
        $.ajax({
            url: "/RquestsSettings/ConfirmRequestSuppliers",
            type: "Post",
            data: {
                Requestid: id,
                ConfirmStatus: status
            },
            success: function (res) {
                debugger
                /*if (res.data.State == 1) {*/
                $("#sup-" + id).fadeOut(500);
                //}
                //else {
                //    alert("حدث خطا حاول مره اخري");
                //}



            },
            error: function () {
                alert("حدث خطا حاول مره اخري");
            }
        })

    }
</script>
