@using SuppliersDashboard.Resources
@{
    bool IsSignIn = true;
    var User = SuppliersDashboard.Helper.Cokie.UserGet();
    if (User.Id == 0) { User = new SuppliersDashboard.Models.User { UserName = "UserName" }; IsSignIn = true; }
    var funcs = SuppliersDashboard.Helper.Cokie.UserFunctionsGet();
}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link href="~/back-end/assets/css/style.css?v=3.4.1" rel="stylesheet" />
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet">*@
    <!-- meta data -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" />
    <meta charset="utf-8">
    <title>الدوار لمنتجات الالبان  </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <!-- Favicon -->
    <link href="~/Content/img/UNO.png" rel="icon">
    <link href="~/back-end/assets/css/vendors/_grid.scss" />
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">*@

    <!-- Libraries Stylesheet -->
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="~/Content/css/style.css?v=3.4.1" rel="stylesheet">
    <link href="~/back-end/assets/css/vector-map.css" rel="stylesheet" />
    <script src="~/Content/js/Deebjs.js?v=3.4.1"></script>
    <link href="~/back-end/assets/css/vendors/slick.css" rel="stylesheet" />


    <!-- Google font -->
    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/back-end/assets/css/linearicon.css">
    <link href="~/back-end/assets/fonts/stylesheet.css" rel="stylesheet" />

    <link href="~/back-end/assets/css/ratio.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/vendors/themify.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/vendors/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/vendors/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/remixicon.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/vendors/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/vendors/date-picker.css">

    <!-- Bootstrap css -->
    <link href="~/back-end/assets/css/vendors/bootstrap.css?v=3.4.1" rel="stylesheet" />

    <!-- Bootstrap-tag input css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/vendors/bootstrap-tagsinput.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/assets/css/style.css?v=3.4.1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    @*Styles For Mobile*@
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <style>
        @@media screen and (max-width: 575px) {
            .modal-dialog {
                overflow: scroll;
                width: 100%;
            }

            .modal-content table td, .modal-content table th {
                font-size: x-small;
            }

            .btn {
                font-size: x-small;
                overflow-x: auto;
            }
        }
    </style>


</head>

<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
    <!-- page-wrapper start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper m-0">
                <div class="header-logo-wrapper p-0">
                    <div class="logo-wrapper">
                        <a href="/Home/Index" data-bs-original-title="" title="">
                            <img class="img-fluid main-logo" src="~/Content/img/UNO.png" alt="logo">
                            <img class="img-fluid white-logo" src="~/Content/img/UNO.png" alt="logo">
                        </a>
                    </div>
                    <div class="toggle-sidebar">
                        <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                        <a href="/Home/Index" data-bs-original-title="" title="">
                            <img class="img-fluid main-logo" src="~/Content/img/UNO.png" alt="logo">
                            <img class="img-fluid white-logo" src="~/Content/img/UNO.png" alt="logo">
                        </a>
                    </div>
                </div>


                <div class="nav-right col-6 pull-right right-header p-0">
                    <ul class="nav-menus">



                        <li>
                            @if (System.Threading.Thread.CurrentThread.CurrentUICulture.Name == "ar")
                            {
                                <a class=" media-body" onclick="ChangeToLTR()" href="/Home/ChangeLanguage?lang=en&BackUrl=@Request.RawUrl.ToString()"><i class="icon ion-android-globe"></i> En</a>
                            }
                            else
                            {
                                <a class=" media-body" onclick="ChangeToRTL()" href="/Home/ChangeLanguage?lang=ar&BackUrl=@Request.RawUrl.ToString()"><i class="icon ion-android-globe"></i> Ar</a>
                            }
                        </li>

                        <li>
                            <div class="mode">
                                <i class="ri-moon-line"></i>
                            </div>
                        </li>
                        <li class="profile-nav onhover-dropdown pe-0 me-0">
                            <div class="media profile-media">
                                <img class="user-profile rounded-circle" src="~/back-end/assets/images/users/4.jpg" alt="">
                                <div class="user-name-hide media-body">
                                    <span>@User.UserName</span>
                                    <p class="mb-0 font-roboto"> @User.groupname <i class="middle ri-arrow-down-s-line"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li>
                                    <a href="all-users.html">
                                        <i data-feather="users"></i>
                                        <span>@User.UserName </span>
                                    </a>
                                </li>

                                <li>
                                    @if (IsSignIn)
                                    {
                                        <a href="/Account/LogOut" data-bs-toggle="modal" data-bs-target="#staticBackdrop">@SuppliersDashboard.Resources.llayout.logout</a>
                                    }
                                    else
                                    {

                                        <a href="/Account/LogIn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">@SuppliersDashboard.Resources.llayout.signin</a>
                                    }
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body start -->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper close_icon">
                <div id="sidebarEffect"></div>
                <div>
                    <div class="logo-wrapper logo-wrapper-center">
                        <a href="/Home/Index" data-bs-original-title="" title="">
                            <img class="img-fluid for-white" src="~/Content/img/UNO.png" alt="logo">
                        </a>
                        <div class="back-btn">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="toggle-sidebar">
                            <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
                        </div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a href="/Home/Index">
                            <img class="img-fluid main-logo main-white" src="~/Content/img/UNO.png" alt="logo">
                            <img class="img-fluid main-logo main-dark" src="~/Content/img/UNO.png"
                                 alt="logo">
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>

                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"></li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="/Home/Index">
                                        <i class="ri-home-line"></i>
                                        <span>@pages.dawarmalik</span>
                                    </a>
                                </li>

                                @if (1 > 2
                                    || funcs.Contains("صفحة ادارة المناديب") || funcs.Contains("صفحة البيع لقناة بيعية")
                                    || funcs.Contains("صفحة تسليم المخزن") || funcs.Contains("صفحة تسليم بضاعة للمناديب")
                                    || funcs.Contains("صفحة المردودات") || funcs.Contains("w-store")
                                    || funcs.Contains("صفحة جرد المخزن") || funcs.Contains("صفحة جرد المخازن")
                                    || funcs.Contains("تقربر جرد المخزن الفرعي") || funcs.Contains("صفحة تحويل بضاعة من مخزن لمخزن")
                                    || funcs.Contains("صفحة تسوية المرتجعات") || funcs.Contains("صفحة اغلاق وتسليم الخزنة")
                                    || funcs.Contains("صفحة البيع") || funcs.Contains("AddSale")
                                    || funcs.Contains("صفحة التحصيل") || funcs.Contains("صفحة المشتريات")
                                    || funcs.Contains("صفحة المصروفات") || funcs.Contains("صفحة تعديل الشيكات")
                                    || funcs.Contains("صفحة تصفية حساب اليوم") || funcs.Contains("قبول طلبات الفروع")
                                    || funcs.Contains("صفحات ال GPS") || funcs.Contains("صفحات ال KPIS")
                                    )

                                {


                                    <li class="sidebar-list">

                                        <a style="text-align: center;" class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                            <i class="ri-store-3-line"></i>
                                            <span>@llayout.operations</span>
                                        </a>
                                        <ul class="sidebar-submenu">


                                            @if (funcs.Contains("صفحة ادارة المناديب"))
                                            {
                                                <li class='onlyone'> <a href="/Distributor/GroupUsers" class="dropdown-item"> @llayout.Delegatemanagement  </a> </li>
                                            }
                                            @if (funcs.Contains("صفحة البيع لقناة بيعية"))
                                            {
                                                <li class='onlyone'> <a href="/AsSalesman" class="dropdown-item"> @llayout.assalesman  </a> </li>
                                            }

                                            @if (1 > 2
                                                || funcs.Contains("صفحة تسليم المخزن") || funcs.Contains("صفحة تسليم بضاعة للمناديب")
                                                || funcs.Contains("صفحة المردودات") || funcs.Contains("w-store")
                                                || funcs.Contains("صفحة جرد المخزن") || funcs.Contains("صفحة جرد المخازن")
                                                || funcs.Contains("تقربر جرد المخزن الفرعي") || funcs.Contains("صفحة تحويل بضاعة من مخزن لمخزن")
                                                || funcs.Contains("صفحة تسوية المرتجعات")

                                                )

                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" style=" " onclick='ShowSecond("ul1" ,"liwareHouse", this)'>
                                                        @llayout.wareHouse
                                                        <div class="according-menu"> <i class='ri-arrow-right-s-line' id="liwareHouse" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul style="list-style-type: circle !important;" class='secondul collapse' id='ul1'>

                                                        @if (funcs.Contains("صفحة تسليم المخزن"))
                                                        {

                                                            <li> <a href="/Screens/DeliverStore" class="   dropdown-item-Chile">   @llayout.shift</a> </li>
                                                        }

                                                        @if (funcs.Contains("صفحة تسليم بضاعة للمناديب"))
                                                        {
                                                            <li>   <a href="/WareHousing/PendingWareHouseRequests" class="    dropdown-item-Chile"> @llayout.Give_Products_To_Representative  </a>   </li>
                                                        }

                                                        @if (funcs.Contains("صفحة المردودات"))
                                                        {
                                                            <li>   <a href="/WareHousing/PendingMardodatWareHouseRequests" class="    dropdown-item-Chile"> @llayout.Receive_Products_To_Representative  </a>    </li>
                                                        }
                                                        @if (funcs.Contains("w-store"))
                                                        {
                                                            <li>   <a href="/WareHousing/PendingMotg3atWareHouseRequests" class="    dropdown-item-Chile"> استلام مرتجعات  </a>    </li>
                                                        }

                                                        @if (funcs.Contains("صفحة جرد المخزن"))
                                                        {
                                                            <li>   <a href="/WareHousing/StoreGard" class="    dropdown-item-Chile  "> @llayout.Inventory_of_accounts  </a>            </li>
                                                        }
                                                        @if (funcs.Contains("صفحة جرد المخازن"))
                                                        {
                                                            <li>   <a href="/WareHousing/AnyWarehouseBalance" class="    dropdown-item-Chile  "> ارصدة المخازن  </a>            </li>
                                                        }
                                                        @if (funcs.Contains("تقربر جرد المخزن الفرعي"))
                                                        {
                                                            <li>   <a href="/NewReports/Subwarehouseguard" class="    dropdown-item-Chile  "> @llayout.sub  </a>            </li>
                                                        }
                                                        @if (funcs.Contains("صفحة تحويل بضاعة من مخزن لمخزن"))
                                                        {
                                                            <li>   <a href="/WareHousing/TranfereItemsBetweenTwoWareHouses" class="    dropdown-item-Chile  "> @llayout.TranfereItemsBetweenTwoWareHouses  </a>            </li>
                                                        }
                                                        @if (funcs.Contains("صفحة تحويل بضاعة من مخزن لمخزن"))
                                                        {
                                                            <li>   <a href="/WareHousing/Addwarehouserequest" class="  showstore3mliatcollapse  dropdown-item-Chile  "> @llayout.Addwarehouserequest  </a>            </li>
                                                        }
                                                        @if (funcs.Contains("صفحة تسوية المرتجعات"))
                                                        {
                                                            <li>   <a href="/WareHousing/SettleReturns" class="  showstore3mliatcollapse  dropdown-item-Chile  "> @llayout.SettleReturns  </a>            </li>
                                                        }

                                                    </ul>
                                                </li>
                                            }

                                            @if (funcs.Contains("صفحة اغلاق وتسليم الخزنة"))
                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("ul3","lithe_safe" , this)'>
                                                        @llayout.the_safe
                                                        <div class="according-menu">  <i class='ri-arrow-right-s-line' id="lithe_safe" style='font-size:20px'></i></div>
                                                    </a>
                                                    @if (funcs.Contains("صفحة اغلاق وتسليم الخزنة"))
                                                    {

                                                        <ul style="list-style-type: circle !important;" class='secondul collapse' id='ul3'>
                                                            <li>   <a href="/Accounting/CloseAcconterDay" class="   dropdown-item-Chile"> @llayout.shift   </a> </li>
                                                        </ul>
                                                    }
                                                </li>
                                            }


                                            @if (1 > 2
                                               || funcs.Contains("صفحة البيع") || funcs.Contains("AddSale")
                                               || funcs.Contains("صفحة التحصيل") || funcs.Contains("صفحة المشتريات")
                                               || funcs.Contains("صفحة المصروفات") || funcs.Contains("صفحة تعديل الشيكات")
                                               || funcs.Contains("صفحة تصفية حساب اليوم")
                                                )
                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" style=" " onclick='ShowSecond("ulAccounts" ,"liwareAccounts", this)'>
                                                        @pages.Accounts
                                                        <div class="according-menu"> <i class='ri-arrow-right-s-line' id="liwareAccounts" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul style="list-style-type: circle !important;" class='secondul collapse' id='ulAccounts'>
                                                        @if (funcs.Contains("صفحة البيع"))
                                                        {
                                                            <li class='onlyone'>   <a href="/Screens/Sale" class="dropdown-item-Chile">  @llayout.sale </a></li>
                                                        }
                                                        @if (funcs.Contains("AddSale"))
                                                        {
                                                            <li class='onlyone'>   <a href="/SalesOFclient1/addsale" class="dropdown-item-Chile">  @llayout.SalesOfClient </a></li>
                                                        }
                                                        @if (funcs.Contains("صفحة التحصيل"))
                                                        {
                                                            <li class='onlyone'>   <a href="/Screens/Collection" class="dropdown-item-Chile">  @llayout.Collection </a></li>
                                                        }

                                                        @if (funcs.Contains("صفحة المشتريات"))
                                                        {
                                                            <li class='onlyone'>   <a href="/Screens/Buy" class="dropdown-item-Chile">  @llayout.Purchases </a> </li>
                                                        }

                                                        @if (funcs.Contains("صفحة المصروفات"))
                                                        {
                                                            <li class='onlyone'>  <a href="/Screens/Masrofat" class="dropdown-item-Chile">  @llayout.Expenses </a>  </li>
                                                        }

                                                        @if (funcs.Contains("صفحة تعديل الشيكات"))
                                                        {
                                                            <li class='onlyone'>  <a href="/Screens/EditChecks" class="dropdown-item-Chile">   @llayout.Checks </a>  </li>
                                                        }

                                                        @if (funcs.Contains("صفحة تصفية حساب اليوم"))
                                                        {
                                                            <li class='onlyone'>  <a href="/Screens/SettleAccount" class="dropdown-item-Chile">  @llayout.clear</a>  </li>
                                                        }
                                                    </ul>
                                                </li>

                                            }
                                            @if (funcs.Contains("قبول طلبات الفروع"))
                                            {
                                                <li class='onlyone'> <a href="/Admin/OnlineShopRequests" class="dropdown-item"> قبول طلبات الفروع  </a> </li>
                                            }
                                        </ul>

                                    </li>

                                }


                                @if (1 > 2 ||
                                    funcs.Contains("مشروع العمولة") || funcs.Contains("تقارير المندوب") || funcs.Contains("تقارير القنوات")
                                    || funcs.Contains("تقارير الشركات") || funcs.Contains("تقارير الامناء والمحاسبين") || funcs.Contains("صفحة جرد المخزن")
                                    || funcs.Contains("صفحة تقرير المديونيات") || funcs.Contains("صفحة تقرير المتاخرات") || funcs.Contains("تقرير اجماليات الفواتير")
                                    || funcs.Contains("تقرير المصاريف") || funcs.Contains("تقرير اوراق الدفع") || funcs.Contains("تقرير العجوزات")
                                      || funcs.Contains("صفحة تقرير كشف حركة صنف") || funcs.Contains("صفحة تقرير مجموع مبيعات صنف")
                                        || funcs.Contains("صفحة تقرير مجموع مبيعات صنف") || funcs.Contains("صفحة تقرير مجموع مبيعات مجموعة")
                                         || funcs.Contains("صفحة تقرير بيانات العملاء") || funcs.Contains("صفحة العملاء") || funcs.Contains("صفحة تقرير مبيعات المندوبين")
                                    )
                                {


                                    <li class="sidebar-list">
                                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                            <i class="ri-list-check-2"></i>
                                            <span>@llayout.reports</span>
                                        </a>
                                        <ul class="sidebar-submenu">
                                            @if (funcs.Contains("مشروع العمولة"))
                                            {
                                                <li class='onlyone'> <a href="/CP/SalesCPReport" class="dropdown-item  ">@llayout.Commission_project </a>                   </li>
                                            }
                                            @if (funcs.Contains("تقارير المندوب"))
                                            {
                                                <li class='onlyone'> <a href="/FastReport/Index" class="dropdown-item  ">  @llayout.DelegateReports </a>                   </li>
                                            }
                                            @if (funcs.Contains("تقارير القنوات"))
                                            {
                                                <li class='onlyone'> <a href="/FastReport/Agent" class="dropdown-item  ">@llayout.SalesChannelReports  </a>                   </li>
                                            }
                                            @if (funcs.Contains("تقارير الشركات"))
                                            {
                                                <li class='onlyone'> <a href="/FastReport/Company" class="dropdown-item  ">@llayout.CorporateReports</a>                   </li>
                                            }
                                            @if (funcs.Contains("تقارير الشركات"))
                                            {
                                                <li class='onlyone'> <a href="/FastReport/Branch" class="dropdown-item  "> @llayout.BranchReports </a>                   </li>
                                            }
                                            @if (funcs.Contains("تقارير الامناء والمحاسبين"))
                                            {
                                                <li class='onlyone'> <a href="/FastReport/Safe" class="dropdown-item  "> @llayout.keepers_and_Accounters_Reports  </a>                   </li>
                                            }
                                            @if (funcs.Contains("تقارير الاصناف"))
                                            {
                                                <li class='onlyone'> <a href="/FastReport/Items" class="dropdown-item  "> تقارير الاصناف  </a>                   </li>
                                            }
                                            @if (funcs.Contains("صفحة جرد المخزن"))
                                            {
                                                <li class='onlyone'> <a href="/WareHousing/StoreGard" class="dropdown-item  ">@llayout.Ware_House_Review </a>                   </li>
                                            }
                                            @if (funcs.Contains("صفحة تقرير المديونيات"))
                                            {
                                                <li class='onlyone'>        <a href="/Distributor/CustomerDeffers" class="dropdown-item">@llayout.Indebtedness</a>        </li>
                                            }
                                            @if (funcs.Contains("صفحة تقرير المتاخرات"))
                                            {
                                                <li class='onlyone'>        <a href="/NewReports/BillLatersReport" class="dropdown-item">@llayout.Invoicearrears</a>        </li>
                                            }
                                            @if (funcs.Contains("تقرير اجماليات الفواتير"))
                                            {
                                                <li class='onlyone'>        <a href="/NewReports/TotalPillsReports" class="dropdown-item">@llayout.Invoice_totals </a>         </li>
                                            }
                                            @if (funcs.Contains("تقرير المصاريف"))
                                            {
                                                <li class='onlyone'>        <a href="/NewReports/ExpensesReports" class="dropdown-item">@llayout.Expenses </a>         </li>
                                            }
                                            @if (funcs.Contains("تقرير اوراق الدفع"))
                                            {
                                                <li class='onlyone'>        <a href="/NewReports/MoneyPaper" class="dropdown-item">@llayout.Paymentpapers  </a>         </li>
                                            }
                                           
                                            @if (funcs.Contains("تقرير العجوزات"))
                                            {

                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("ul2","liul2" , this)'>
                                                        @llayout.inability
                                                        <div class="according-menu">  <i class='ri-arrow-right-s-line' id="liul2" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='ul2'>
                                                        <li>     <a href="/NewReports/ShortFalls" class="dropdown-item-Chile  ">   @llayout.Storeshortage     </a>                       </li>

                                                        <li>    <a href="/NewReports/MoneyShortFalls" class="dropdown-item-Chile  ">   @llayout.Moneyshortage       </a>          </li>

                                                    </ul>
                                                </li>
                                            }
                                            @if (1 > 2
                                                || funcs.Contains("صفحة تقرير كشف حركة صنف") || funcs.Contains("صفحة تقرير مجموع مبيعات صنف")
                                                || funcs.Contains("صفحة تقرير مجموع مبيعات صنف") || funcs.Contains("صفحة تقرير مجموع مبيعات مجموعة")
                                                )
                                            {

                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("ul2222","liitems" , this)'>
                                                        @llayout.items
                                                        <div class="according-menu">  <i class='ri-arrow-right-s-line' id="liitems" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul style="list-style-type: circle;" class='secondul collapse' id='ul2222'>
                                                        @if (funcs.Contains("صفحة تقرير كشف حركة صنف"))
                                                        {
                                                            <li>     <a href="/Report/ItemCard" class="dropdown-item-Chile debitsreportscollapse "> @llayout.Item_Transaction    </a>                       </li>
                                                        }
                                                        @if (funcs.Contains("صفحة تقرير مجموع مبيعات صنف"))

                                                        {
                                                            <li>    <a href="/NewReports/itemDistributors" class="dropdown-item-Chile debitsreportscollapse "> @llayout.s  </a>          </li>
                                                        }
                                                        @if (funcs.Contains("صفحة تقرير مجموع مبيعات صنف"))

                                                        {
                                                            <li>    <a href="/NewReports/TotalItemsSales" class="dropdown-item-Chile debitsreportscollapse "> @llayout.e       </a>          </li>
                                                        }
                                                        @if (funcs.Contains("صفحة تقرير مجموع مبيعات صنف"))

                                                        {
                                                            <li>    <a href="/NewREports/ItemsReport" class="dropdown-item-Chile debitsreportscollapse "> @llayout.g   </a>          </li>
                                                        }
                                                        @if (funcs.Contains("صفحة تقرير مجموع مبيعات مجموعة"))

                                                        {
                                                            <li>    <a href="/NewReports/TotalCategoriesSalesReport" class="dropdown-item-Chile debitsreportscollapse "> @llayout.Group_Total_Sale     </a>          </li>
                                                        }

                                                    </ul>
                                                </li>

                                            }

                                            @if (1 > 2
                                                || funcs.Contains("صفحة تقرير بيانات العملاء") || funcs.Contains("صفحة العملاء")
                                                )
                                            {


                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("ul333","liCustomers" , this)'>
                                                        @llayout.Customers
                                                        <div class="according-menu">  <i class='ri-arrow-right-s-line' id="liCustomers" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='ul333'>

                                                        @if (funcs.Contains("صفحة تقرير بيانات العملاء"))
                                                        {
                                                            <li>    <a href="/Branch/BranchDetails" class="dropdown-item-Chile Branchesreportscollapse "> @llayout.Customer_Details   </a> </li>
                                                        }


                                                        @if (funcs.Contains("صفحة العملاء"))

                                                        {
                                                            <li>      <a href="/Market/Index" class="   dropdown-item-Chile branshsettingcollapse "> @llayout.Account_statement</a>    </li>
                                                        }
                                                        }
                                                    </ul>
                                                </li>

                                            }

                                            @if (funcs.Contains("صفحة تقرير مبيعات المندوبين"))
                                            {

                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("ul-15","lidistributors" , this)'>
                                                        @llayout.distributors
                                                        <div class="according-menu"> <i class='ri-arrow-right-s-line' id="lidistributors" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='ul-15'>
                                                        <li>   <a href="/Report/AllDistributorReportsDetails" class="dropdown-item-Chile Branchesreportscollapse "> @llayout.Distributors_Sales   </a> </li>
                                                    </ul>
                                                </li>
                                            }
                                            @if (funcs.Contains("صفحات ال KPIS"))
                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("ul-r-1","liKPIS" , this)'>
                                                        KPIS
                                                        <div class="according-menu"> <i class='ri-arrow-right-s-line' id="liKPIS" style='font-size:20px;'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='ul-r-1'>
                                                        <li>    <a href="/KPIS/Distributors" class="dropdown-item-Chile  "> @llayout.Distributors_Details   </a> </li>
                                                        <li>    <a href="/KPIS/ItemsKPI" class="dropdown-item-Chile  "> @llayout.Items_Details   </a> </li>
                                                        <li>    <a href="/KPIS/BranchesKPI" class="dropdown-item-Chile  "> @llayout.Customer_Details   </a> </li>
                                                        <li>    <a href="/KPIS/PriceListKPI" class="dropdown-item-Chile  "> @llayout.Prices_Details   </a> </li>
                                                        @*<li>    <a href="/DashboardSuppliers/Index" class="dropdown-item-Chile  "> @llayout.dawar  </a> </li>*@
                                                        <li>    <a href="/DashboardSuppliers/Index" class="dropdown-item-Chile  "> @llayout.dawarSalesMen   </a> </li>
                                                    </ul>
                                                </li>
                                            }
                                            @if (funcs.Contains("صفحات ال GPS"))
                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("GPS","liGPS" , this)'>
                                                        GPS
                                                        <div class="according-menu"> <i class='ri-arrow-right-s-line' id="liGPS" style='font-size:20px;'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='GPS'>
                                                        <li>    <a href="/Admin/ShowMap" class="dropdown-item-Chile  "> @llayout.Representativeperformanceanalysis   </a> </li>
                                                        <li>    <a href="/Admin/ShowBranchesMap" class="dropdown-item-Chile  "> @llayout.Branches   </a> </li>
                                                    </ul>
                                                </li>
                                            }

                                        </ul>

                                    </li>

                                }



                                @if (1 > 2
                                    || funcs.Contains("صغحة البنوك") || funcs.Contains("صفحة ادارة وتعديل المستخدمين") || funcs.Contains("اعدادات المخازن")
                                    || funcs.Contains("صفحة اضافة او وقف صنف") || funcs.Contains("صفحة تعديل الاسعار الخاصة") || funcs.Contains("اعدادات قوائم الاسعار")
                                    || funcs.Contains("صفحة تعديل بيانات عميل") || funcs.Contains("صفحة اضافة عميل") || funcs.Contains("صفحة اضافة رصيد افتتاحي")
                                    || funcs.Contains("صفحة اضافة منطقة او حي") || funcs.Contains("صفحة تعديل او ايقاف مورد") || funcs.Contains("صفحة اضافة مورد او مجموعة مندوبين")
                                    || funcs.Contains("اعدادات القنوات") || funcs.Contains("اضافة مجموعة مندوبين") || funcs.Contains("قبول الاسعار")
                                    )
                                {

                                    <li class="sidebar-list">
                                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                            <i class="ri-list-settings-line"></i>
                                            <span>@llayout.setting</span>
                                        </a>
                                        <ul class="sidebar-submenu">
                                            @if (funcs.Contains("صغحة البنوك"))
                                            {
                                                <li class='onlyone'>  <a href="/Bank/index" class="dropdown-item">      @llayout.addbank   </a>  </li>
                                            }
                                            @*<li class='onlyone'> <a href="/Employee/Index" class="dropdown-item  ">  @llayout.addCustomer  </a>                   </li>*@
                                            @if (funcs.Contains("صفحة ادارة وتعديل المستخدمين"))
                                            {
                                                <li class='onlyone'> <a href="/Admin/UsersManagement" class="dropdown-item  ">  @llayout.Users_Management </a>                   </li>
                                            }
                                            @if (funcs.Contains("اعدادات المخازن"))
                                            {

                                                <li class='onlyone'> <a href="/Warehousing/WareHousesSetting" class="dropdown-item  ">  @llayout.WareHousesSetting </a>                   </li>
                                            }
                                            @if (1 > 2
                                                || funcs.Contains("صفحة اضافة او وقف صنف") || funcs.Contains("صفحة تعديل الاسعار الخاصة") || funcs.Contains("اعدادات قوائم الاسعار") || funcs.Contains("قبول الاسعار")
                                               )
                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("set1","liset1" , this)'>
                                                        @llayout.items
                                                        <div class="according-menu">  <i class='ri-arrow-right-s-line' id="liset1" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='set1'>

                                                        @funcs.Contains("صفحة اضافة او وقف صنف")
                                                        {
                                                        <li>     <a href="/Items/ItemSetting" class="   dropdown-item-Chile itemssettingcollapse "> @llayout.Add_Or_Stop_Item   </a>          </li>
                                                        }
                                                        @funcs.Contains("قبول الاسعار")
                                                        {
                                                        <li>     <a href="/Items/ConfirmUpdatePrice" class="   dropdown-item-Chile itemssettingcollapse "> قبول الاسعار   </a>          </li>
                                                        }
                                                        @if (funcs.Contains("صفحة تعديل الاسعار الخاصة"))
                                                        {
                                                            <li>
                                                                <a href="#" class="dropdown-item-Chile itemssettingcollapse" onclick='ShowSecond("priceSetting","priceliset1" , this)'>
                                                                    @llayout.price
                                                                    <div style="margin: auto;">  <i class='ri-arrow-right-s-line' id="priceliset1" style='font-size:20px'></i></div>
                                                                </a>
                                                                <ul class='secondul collapse' id='priceSetting'>
                                                                    <li>        <a href="/Items/Specialprice" class="   dropdown-item-Chile_sub itemssettingcollapse "> @llayout.Special_Prices   </a>              </li>
                                                                    @*  <li>        <a href="/Items/AddItemPrice" class="   dropdown-item-Chile itemssettingcollapse "> @llayout.Edit_Prices     </a>         </li>*@

                                                                    <li>        <a href="/Supplier/EditItemsPrices" class="  dropdown-item-Chile_sub itemssettingcollapse "> @llayout.updatepricesfordisgroups    </a>         </li>

                                                                </ul>
                                                            </li>
                                                        }
                                                        @if (funcs.Contains("اعدادات قوائم الاسعار"))
                                                        {

                                                            <li>
                                                                <a href="#" class="dropdown-item-Chile itemssettingcollapse" onclick='ShowSecond("PriceListSetting","PriceListSettingliset1" , this)'>
                                                                    @llayout.Lists
                                                                    <div style="margin: auto;">  <i class='ri-arrow-right-s-line' id="PriceListSettingliset1" style='font-size:20px'></i></div>
                                                                </a>
                                                                <ul class='secondul collapse' id='PriceListSetting'>
                                                                    <li class='onlyone'> <a href="/PriceList/Index" class="dropdown-item-Chile_sub  itemssettingcollapse">  @llayout.PriceListSetting </a>                   </li>

                                                                    <li>        <a href="/Supplier/EditItemsPricesList" class="   dropdown-item-Chile_sub itemssettingcollapse "> @llayout.updatepriceforpricelist    </a>         </li>


                                                                </ul>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            @if (1 > 2 ||
                                                funcs.Contains("صفحة تعديل بيانات عميل") || funcs.Contains("صفحة اضافة عميل") || funcs.Contains("صفحة اضافة رصيد افتتاحي")
                                                )
                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("set2","liset2", this)'>
                                                        @llayout.Customers
                                                        <div class="according-menu">  <i class='ri-arrow-right-s-line' id="liset2" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='set2'>
                                                        @if (funcs.Contains("صفحة تعديل بيانات عميل"))
                                                        {
                                                            <li>      <a href="/Branch/EditBranchData" class="   dropdown-item-Chile branshsettingcollapse "> @llayout.Edit_Customer_Details </a></li>
                                                            <li>      <a href="/Branch/EditoCompanyData" class="   dropdown-item-Chile branshsettingcollapse "> @llayout.EditoCompanyData </a></li>
                                                        }

                                                        @if (funcs.Contains("صفحة اضافة عميل"))
                                                        {
                                                            <li>      <a href="/Branch/AddBranch" class="   dropdown-item-Chile branshsettingcollapse "> @llayout.Add_Customer      </a>                     </li>
}

                                                        @if (funcs.Contains("صفحة اضافة رصيد افتتاحي"))
                                                        {
                                                            <li>      <a href="/Branch/AddOpeningBalance" class="   dropdown-item-Chile branshsettingcollapse "> @llayout.Add_opening_balance       </a>    </li>
}

                                                    </ul>
                                                </li>
                                            }

                                            @if (funcs.Contains("صفحة اضافة منطقة او حي"))
                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("set4" ,"liset4", this)'>
                                                        @llayout.Regions
                                                        <div class="according-menu">  <i class='ri-arrow-right-s-line' id="liset4" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='set4'>
                                                        <li>      <a href="/Screens/AddRange" class="   dropdown-item-Chile branshsettingcollapse "> @llayout.Add_Region_Or_neighborhood    </a>             </li>
                                                    </ul>
                                                </li>
                                            }

                                            @if (1 > 2 || funcs.Contains("صفحة تعديل او ايقاف مورد") || funcs.Contains("صفحة اضافة مورد او مجموعة مندوبين"))
                                            {
                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("set3","liset3" , this)'>
                                                        @llayout.suppliers
                                                        <div class="according-menu">  <i class='ri-arrow-right-s-line' id="liset3" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='set3'>


                                                        @if (funcs.Contains("صفحة تعديل او ايقاف مورد"))
                                                        {
                                                            <li> <a href="/Supplier/Seting" class="   suppliersettingcollapse dropdown-item-Chile suppliersettingcollapse "> @llayout.Edit_Or_Stop_Supplier   </a> </li>
                                                        }
                                                        @if (funcs.Contains("صفحة اضافة مورد او مجموعة مندوبين"))
                                                        {

                                                            <li>  <a href="/Supplier/Add" class="   suppliersettingcollapse dropdown-item-Chile  "> @llayout.Add_Supplier</a> </li>
                                                        }


                                                    </ul>
                                                </li>
                                            }
                                            @if (
                                            funcs.Contains("اعدادات القنوات")
                                            || funcs.Contains("اضافة مجموعة مندوبين")
                                            )
                                            {

                                                <li>
                                                    <a href="#" class=" sidebar-link" onclick='ShowSecond("ul5","liul5" , this)'>
                                                        @llayout.Sales_channels
                                                        <div class="according-menu"> <i class='ri-arrow-right-s-line' id="liul5" style='font-size:20px'></i></div>
                                                    </a>
                                                    <ul class='secondul collapse' id='ul5'>


                                                        @if (funcs.Contains("اعدادات القنوات"))
                                                        {
                                                            <li> <a href="/Branch/AddEditAgent" class="dropdown-item-Chile Branchesreportscollapse ">@llayout.addandeditagents   </a> </li>
                                                        }

                                                        @if (funcs.Contains("اضافة مجموعة مندوبين"))
                                                        {
                                                            <li>  <a href="/Supplier/AddreprsntGroup" class="   suppliersettingcollapse dropdown-item-Chile  "> @llayout.Add_Distributors_Group     </a> </li>
}



                                                    </ul>
                                                </li>
                                            }




                                        </ul>
                                    </li>

                                }

                                @if (funcs.Contains("صقحات الHR"))
                                {

                                    <li class="sidebar-list ">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                            <i class="ri-user-3-line"></i>
                                            <span>HR</span>
                                        </a>
                                        <ul class="sidebar-submenu">


                                            <li class='onlyone'> <a href="/Employee/Index" class="dropdown-item  ">  @llayout.AddEmployee  </a>                   </li>
                                            <li>
                                                <a href="#" class=" sidebar-link" onclick='ShowSecond("PayRolly","liulPayRolly" , this)'>
                                                    PayRolly
                                                    <div class="according-menu"> <i class='ri-arrow-right-s-line' id="liulPayRolly" style='font-size:20px'></i></div>
                                                </a>
                                                <ul class='secondul collapse' id='PayRolly'>
                                                </ul>
                                            </li>
                                        </ul>

                                    </li>
                                }



                                <!-- <li class="sidebar-list">
        <a class="sidebar-link sidebar-title link-nav" href="media.html">
            <i class="ri-price-tag-3-line"></i>
            <span>Media</span>
        </a>
    </li> -->
                                @if (funcs.Contains("الفاتورة الاكترونية"))
                                {

                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                            <i class="ri-archive-line"></i>
                                            <span>@llayout.Invoice</span>
                                        </a>
                                        <ul class="sidebar-submenu">

                                            <li class='onlyone'>
                                                <a href="/Integration/Get_All_Bill" class="dropdown-item">
                                                    @llayout.sendBill
                                                </a>
                                            </li>

                                            <li class='onlyone'>  <a href="/Integration/index" class="dropdown-item">  @llayout.integration</a>  </li>


                                        </ul>
                                    </li>
                                }


                                <li class="sidebar-list">
                                    <a href="/Account/LogOut" class="dropdown-item">

                                        <i class="ri-user-3-line"></i>
                                        <span>@SuppliersDashboard.Resources.llayout.logout</span>
                                    </a>

                                </li>
                                <li class="sidebar-list">
                                    <a href="/CustomeDesgin/Index" class="dropdown-item">

                                        <i class=" fa fa-accessible-icon"></i>
                                        <span>Custome Desgin</span>
                                    </a>

                                </li>

                            </ul>
                        </div>

                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->

            <div class="page-body">

                @*<div id="container-fluid-x-x-x-x" class="container-fluid pt-4 px-4" >*@
                <div id="container-fluid-x-x-x-x" class="container-fluid pt-4" >

                   @* <div style="padding:50px">*@

                    <div class="row g-4">

                        @* <div class="container-fluid">*@
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-9 m-auto">
                                        @*   <div class="card">
        <div class="card-body">
             <div class="container">*@
                                        <style>
                                            td, th {
                                                text-align: center !important;
                                                border: 2px solid !important;
                                                max-width: 50px !important;
                                                overflow:auto;
                                            }


                                            table {
                                                max-width: 100% !important;
                                                border-collapse: collapse !important;
                                            }
/*
                                            .table td {
                                                white-space: pre-wrap !important
                                            }
*/
                                          
                                        </style>
                                        @RenderBody()
                                        @*  </div>
        </div>
            </div>*@
                                    </div>
                                </div>
                            </div>
                            @*   </div>*@
                        </div>
                        </div>
                    @*  *@</div>
                </div>
                <!-- New Product Add End -->
                <!-- footer Start -->
                <div class="container-fluid">
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2024 © Dawar theme by Apis</p>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- footer End -->
            </div>
            <!-- Container-fluid End -->
        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End -->
    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn--yes btn-primary" onclick="window.location.href='/Account/LogOut'">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered ">
            <div class="modal-content" id="modalContainer">

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalcontent">
                    ...
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog  modal-dialog-centered ">

            <div class="modal-content" id="modalcontent" style="">

            </div>

        </div>
    </div>
    <!-- Modal End -->
    <!-- latest js -->
    <script src="~/back-end/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/back-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="~/back-end/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/back-end/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="~/back-end/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/back-end/assets/js/scrollbar/custom.js"></script>

    <!-- Sidebar js -->
    <script src="~/back-end/assets/js/config.js"></script>

    <!-- bootstrap tag-input js -->
    <script src="~/back-end/assets/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/back-end/assets/js/sidebar-menu.js"></script>

    <!-- customizer js -->
    <script src="~/back-end/assets/js/customizer.js?v=3.4.1"></script>
    <!--Dropzon js -->
    <script src="~/back-end/assets/js/dropzone/dropzone.js"></script>
    <script src="~/back-end/assets/js/dropzone/dropzone-script.js"></script>

    <!-- Plugins js -->
    <script src="~/back-end/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/back-end/assets/js/notify/index.js"></script>


    <!-- select2 js -->
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    @*<script src="~/back-end/assets/js/select2-custom.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- sidebar effect -->
    <script src="~/back-end/assets/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="~/back-end/assets/js/script.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/back-end/assets/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').select2()
            $('.selection').css('width', '100%')
            setTimeout(() => {

                $.each($('td'), (i, e) => {
                    $(e).attr('title', $(e).text())

                })
            } , 3000)
            


        });
        function endloader() {
            $("#spinner").removeClass("show");
        }
        function ShowModal(html) {
            $("#modalcontent").html(html)
            $("#myModal").modal("show")

        }
        function CloseModal() {
            $("#myModal").modal("hide")

        }
        function startloader() {
            $("#spinner").addClass("show");
        }



        function GetdateString(dd) {
            try {
                let date = new Date(dd);
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let hours = date.getHours();
                let minutes = date.getMinutes();

                return year + "/" + month + "/" + day + "  " + hours + ":" + minutes;
            } catch {
                return dd;
            }
        }

        function ChangeToLTR() {
            localStorage.setItem("rtlMode", "ltr");

        }
        function ChangeToRTL() {
            localStorage.setItem("rtlMode", "rtl");

        }
        function LayoutV2Print() {

            let httt = $("#printer").html();
            let object = {
                Value: String(httt)
            }
            let x = JSON.stringify(object)

            window.location.href = "/Home/Print?obj=" + x.replace('"', '*')
        }
        function LayoutPrint() {
            $(".ignore-in-report").css("display", "none")
            $("td:has(.ignore-in-report-span)").css("display", "none")
            $("#Table_length").addClass("d-none")
            $("#Table_paginate").addClass("d-none")
            $("#Table_filter").addClass("d-none")
            $("#Table_info").addClass("d-none")
            $("#table_length").addClass("d-none")
            $("#table_paginate").addClass("d-none")
            $("#table_filter").addClass("d-none")
            $("#table_info").addClass("d-none")

            //$(".table td").css('white-space', ' pre-wrap !important')
            //$('table').css('max-width', '100% !important')
            //$('td').css('max-width', '50px !important')
            //$('th').css('max-width', '50px !important')
            var restorepage = $('body').html();

            $('#printer').append(`
            <style>
      td, th {
          text-align: center !important;
          border: 2px solid !important;
          max-width: 50px !important;
          overflow:hidden;
      }


      table {
          max-width: 100% !important;
          border-collapse: collapse !important;
      }
      /*
      .table td {
          white-space: pre-wrap !important
      }
      */
    
  </style>
            `)
            var printcontent = $('#printer').clone();
                $('body').empty().html(printcontent) ;
            window.print();
            location.reload()
            $('body').html(restorepage);
            $("#Table_length").removeClass("d-none")
            $("#Table_paginate").removeClass("d-none")
            $("#Table_filter").removeClass("d-none")
            $("#Table_info").removeClass("d-none")
            $("#table_length").removeClass("d-none")
            $("#table_paginate").removeClass("d-none")
            $("#table_filter").removeClass("d-none")
            $("#table_info").removeClass("d-none")
        }
        function LayoutExcel(url, name) {
            startloader()
            $.ajax({
                url: url,
                type: "post",
                success: function (res) {
                    ClickLink(res.url, name + " " + GetdateString(new Date()))
                    endloader();
                }
            })
        }

        function SearchInTable(inputId, tableId) {
            // Declare variables

            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById(inputId);
            filter = input.value.toUpperCase();
            table = document.getElementById(tableId);
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {


                let tds = tr[i].getElementsByTagName("td");
                for (let x = 0; x < tds.length; x++) {
                    td = tds[x];

                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }

        function Search(inputId, divclass) {
            // Declare variables
            debugger
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById(inputId);
            filter = input.value.toUpperCase();

            tr = document.getElementsByClassName(divclass);

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                let ele = tr[i]
                txtValue = ele.textContent || ele.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    ele.style.display = "";

                } else {
                    ele.style.display = "none";
                }


            }
        }
        function clickabletr(spanclass) {
            setInterval(() => {
                clickabletr2(spanclass)
            }, 1000)
        }

        function clickabletr2(spanclass) {
            let spans = document.getElementsByClassName(`${spanclass}`)
            $.each(spans, (i, e) => {
                let spanbilno = $(e).attr(`data`)
                $(e).parent().parent().attr('onclick', `viewBill(${spanbilno})`)
            })
        }
        function viewBill(number) {

            if (number <= 0)
                return
            let isvalid = 0;
            try {
                isvalid = parseInt(number)

            } catch {
                return
            }

            $.ajax({
                url: "/CHIJpbnRlcg/Encrypt",
                type: "post",
                data: {
                    key: String(number)
                }, success: (res) => {



                    let a = document.createElement('a')
                    a.target = "_blank"
                    a.href = `/chijpbnrlcg/T1UHSfl6oRmBLZg7E44aAg?QmlsbE5v=${res}`

                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a)

                }

            })
        }
        function ShowSecond(id, lie, ele) {

            $("#" + id).toggleClass("show")
            $("#" + lie).toggleClass("ri-arrow-right-s-line")
            if ($("#" + id).hasClass("show")) {
                $("#" + lie).removeClass("ri-arrow-right-s-line")
                $("#" + lie).toggleClass("ri-arrow-down-s-line")
            } else {
                $("#" + lie).removeClass("ri-arrow-down-s-line")
                $("#" + lie).toggleClass("ri-arrow-right-s-line")
                $("#" + lie).addClass("ri-arrow-right-s-line")
            }
        }
        function ClickLink(url, name) {
            var link = document.createElement('a');
            link.href = url;
            link.download = name;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link)
        }
    </script>
    <!-- Template Javascript -->
    <script src="~/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $.get(`/Account/checkUserStatus`, (res) => {
            console.log(res)
            if (!res.data) {
                location.href ='/Account/LogOut'
            }
        })
    </script>
</body>

</html>