
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<style>
    select#Accounts, #Treasure, #TransMove {
        padding-right: 2rem; /* Add space between text and dropdown arrow */
    }
</style>
<h2 class="card-header d-flex justify-content-center text-primary mt-2 mb-1" style="opacity:0.6">@SuppliersDashboard.Resources.llayout.covenant</h2>

<div class="row p-3 d-flex justify-content-center">

    @*<div class="col-2 "><button class="btn btn-primary" id="inTreasure" onclick="TreasureAction('C')">داخل الخزنة</button></div>
    <div class="col-2 "> <button class="btn btn-primary" id="outTreasure" onclick="TreasureAction('D')"> خارج الخزنة</button></div>*@
    
    <div class="col-6">
        <label for="city" class="form-label">اختار نوع الحركة</label>
        <select class="form-select" aria-label="اختار نوع الحركة" id="TransMove" onchange="TreasureAction(this)">
            <option value="C">وارد الي الخزنة </option>
            <option value="D">  صادر من الخزنة </option>
        </select>
    </div>
    <div class="col-4">
        <label for="city" class="form-label">رصيد الخزنة </label>
        <input type="text" class="form-control" readonly value="@ViewBag.cash" aria-describedby="basic-addon1">

    </div>
    <div class="col-8 text-center">
        <h3 class="card-header d-flex justify-content-center text-secondary mt-2 mb-1" style="opacity:0.6" id="HeaderText">وارد الي الخزنة  </h3>
    </div>
    @*Accounts*@
    <div class="col-12"></div>
    <div class="col-4">
        <label for="city" class="form-label">الحسابات</label>
        <select class="form-select" aria-label="اختار الحساب" id="Accounts">
        </select>
    </div>
    <div class="col-4">
        <label for="city" class="form-label">الخزنة</label>
        <select class="form-select" aria-label="اختار الخزنة" id="Treasure">
            @if (ViewBag.Treasury != null)
            {


                foreach (var item in ViewBag.Treasury)
                {

                    <option value="@item.Id">
                        @item.Value
                    </option>
                }
            }
        </select>
    </div>

    <div class="col-12"></div>
    <div class="col-4">
        <label for="Amount" class="form-label">المبلغ</label>
        <input type="number" class="form-control" placeholder="ادخل المبلغ" aria-label="Amount" id="Amount" aria-describedby="basic-addon1">
        <span id="AmoountErro" class="text-danger"></span>

    </div>
    <div class="col-4">
        <label for="User" class="form-label">اختار شخص</label>
        <input class="form-control " list="UsersList" id="User" name="User" placeholder="اختار شخص" />

        <datalist id="UsersList">
            @if (ViewBag.Users != null)
            {
                foreach (var item in ViewBag.Users)
                {
                    <option value="@item.Value" data-id="@item.Id"></option>
                }
            }
        </datalist>
    </div>
    <div class="col-12"></div>
  
    


    <div class="col-6 mt-3">
        <input type="text" class="form-control" placeholder="ادخل المرجع" aria-label="Ref" id="Ref" aria-describedby="basic-addon1">
    </div>
    <div class="co1 mt-2 d-flex justify-content-center" ><button class="btn btn-success" id="SumbitTransaction" onclick="ConfirmOperation()"> حفظ العملية</button></div>
</div>

<script>
    function ConfirmOperation() {
        debugger
        let massege = "";
        let amount = $("#Amount").val()
        let Treasury = $("#TransMove").val()
          if (amount == "") {
      $('#AmoountErro').fadeIn(300);
      $("#AmoountErro").html("ادخل المبلغ من فضلك ")
      $('#AmoountErro').fadeOut(3000);
      return;
  }
        if (Treasury == "D" && amount >@(ViewBag.cash)) {
      $('#AmoountErro').fadeIn(300);
      $("#AmoountErro").html("  رصيد الخزنة لايسمح  ")
      $('#AmoountErro').fadeOut(3000);
      return;
  }
        if (Treasury = "C") {
            massege ="<h4>هل انت متاكد من سحب هذا المبلغ من الخزنة؟</h4>"
        }
        else {
            massege = "<h4>هل انت متاكد من اضافة هذا المبلغ الي الخزنة؟</h4>";
        }
        let html = `${HeaderModal}<div class="row p-2 d-flex justify-content-center">
      <div class="col-12 mt-1 mb-1 text-center">
          ${massege}
      </div>
      <div class="col-12 text-center">
          <h6>المبلغ: ${amount}</h6>
      </div>
      <div class="col-12 text-center">
          <button class="btn btn-success" id="ConfirmOperation" onclick='SumbitTransaction()'> تاكيد </button>
      </div>
  </div>`;
        showModal(html)

    }
    TreasureAction($("#TransMove"))
    function GetAcounts(AccountType) {
        $.ajax({
            url: '/ChartOfAccount/GetAllAcount',
            type: 'GET',
            data: {
                AccountType: AccountType
            },
            success: function (data) {
                console.log(data.data.data);
                let options = '';
                data.data.data.forEach(function (account) {

                    options += `<option value="${account.Id}">${account.Value}</option>`;
                });
                $('#Accounts').html(options);
            },
            error: function () {
                console.error('Error loading accounts.');
            }
        });
    }
    function TreasureAction(elemnt) {
        let AccountType = $(elemnt).val()
        debugger
        if (AccountType == 'C') {

         /*   داخل الخزنه*/



            $("#HeaderText").html("وارد الي الخزنة ")



            $('#inTreasure')
                .prop('disabled', true)   // Disable click
                .css('opacity', '0.7');
            $('#outTreasure')
                .prop('disabled', false)   // Disable click
                .css('opacity', '1');
        }
        else {

            $('#outTreasure')
                .prop('disabled', true)   // Disable click
                .css('opacity', '0.7');
            $('#inTreasure')
                .prop('disabled', false)   // Disable click
                .css('opacity', '1');
            $("#HeaderText").html("صادر من الخزنة")

        }
        GetAcounts(AccountType)
    }
    function SumbitTransaction() {
        debugger
        let amount = $("#Amount").val();

            $('#SumbitTransaction').addClass("collapse")

            $.ajax({
                url: "/ChartOfAccount/SubmitTransactionTreasury",
                type: "POST",
                data: {
                    Amount: amount,
                    UserId: GetUserId($("#User").val()),
                    AcountType: $("#Accounts").val(),
                    Treasury: $("#Treasure").val(),
                    Ref: $("#Ref").val()
                },
                success: function (data) {
                    if (data.State == 1) {
                        showSuccessOperation(data.msg)
                        setTimeout(() => {
                            location.reload()
                        }, 1000)
                    }
                    else {
                        showDangerOperation(`اعد المحاولة مرة اخري`)
                        $('#SumbitTransaction').removeClass("collapse")
                    }
                },
                error: function (data) {
                    showDangerOperation(`اعد المحاولة مرة اخري`)
                    $('#SumbitTransaction').removeClass("collapse")

                }

            })
        }

   
    function GetUserId(inputVal) {

        let matchedOption = $('#UsersList option').filter(function () {
            return $(this).val() === inputVal;
        });

        let selectedId = matchedOption.data('id');
        return selectedId
    }


</script>

